apiVersion: v1
kind: ServiceAccount
metadata:
  name: nodecryptor
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: nodecryptor
rules:
- apiGroups:
  - cilium.io
  resources:
  - ciliumnodes
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: nodecryptor
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: nodecryptor
subjects:
- kind: ServiceAccount
  name: nodecryptor
  namespace: kube-system
